<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="ns-btn-mobile">
                <span class="ns-sandwich-icon">&nbsp;</span>
            </div>
            <div class="col-1 left-col">
                <a href="//www.nativescript.org/" class="ns-logo ns-icon ns-icon-ns"></a>
            </div>

            <div class="col-9 center-col" id="main-nav">
                <ul>
                    <li>
                        <a href="//docs.nativescript.org/">
                            NativeScript Docs
                        </a>
                    </li>
                    <li>
                        <a href="/api-reference/globals" id="api-ref-btn">
                            Core Modules
                        </a>
                    </li>
                    <li>
                        <a href="/ng-api-reference/globals" id="ng-api-ref-btn">
                            NativeScript Angular
                        </a>
                    </li>
                    <li>
                        <a href="/ns-ui-api-reference/globals" id="ns-ui-api-ref-btn">
                            NativeScript UI
                        </a>
                    </li>
                </ul>
                <h4>Article title</h4>
            </div>
            <div class="col-2 right-col">
                <a href="https://github.com/nativescript" target="_blank" class="ns-btn ns-btn-git ns-icon ns-icon-git">view in github</a>
            </div>
        </div>
    </div>
</header>

<!--TEMPORARY-->
<script>
    window.onload = function onload() {
        var mobileBtn = document.getElementsByClassName('ns-btn-mobile')[0];
        var menu = document.querySelector('#main-nav > ul');

        mobileBtn.addEventListener('click', function(e) {
            menu.classList.toggle('active');
        }, false);
        let siteURL  = window.location.href;
        if(siteURL.indexOf('ng-api-reference') >= 0){
            document.getElementById("ng-api-ref-btn").classList.add("selected");
        } else if(siteURL.indexOf('ns-ui-api-reference') >= 0){
            document.getElementById("ns-ui-api-ref-btn").classList.add("selected");
        } else{
            document.getElementById("api-ref-btn").classList.add("selected");
        }
    };
</script>
