@font-face {
    font-family: 'Dual-600';
    src: url("../fonts/dual-600.woff") format('woff');
}
@font-face {
    font-family: 'Roboto Light';
    src: url("../fonts/Roboto-Light.woff") format('woff');
}
@font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto-Regular.woff") format('woff');
}
